<mat-sidenav-container class="full-height" *ngIf="opened !== undefined">
  <mat-sidenav #drawer mode="side" [(opened)]="opened" (closed)="setDrawerTooltipAndState()" (opened)="setDrawerTooltipAndState()">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>assistant</mat-icon>
        <a mat-list-item routerLink="/foo-bar" (click)="drawer.close()">FooBar</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>contact_mail</mat-icon>
        <a mat-list-item routerLink="/contacts" (click)="drawer.close()">Contacts</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- toolbar -->
    <mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">

        <!-- drawer menu and application name -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button aria-label="Toggle sidenav" (click)="drawer.toggle()" [matTooltip]="drawerTooltip" matTooltipClass="mat-body">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div style="font-weight: lighter">
            <a routerLink="/" matTooltip="Home" style="text-decoration: none; color: inherit">Application</a>
          </div>
        </div>

        <!-- login icon and logo -->
        <div fxLayout="row" fxLayoutAlign="end center" class="top-toolbar-right">
          <div *ngIf="userName">
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="User Options"
                    style="font-weight: lighter; font-size: 16px; padding-right: 0">{{ userName }}
              <mat-icon matListIcon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/settings">Settings</button>
              <button mat-menu-item (click)="logoff()">Logout</button>
            </mat-menu>
          </div>
          <button *ngIf="!userName" mat-icon-button aria-label="Login" (click)="login()" matTooltip="Login" matTooltipClass="mat-body"
                  style="width: 30px; height: 30px">
            <mat-icon aria-label="Login icon" style="font-size: 36px; display: flex; justify-content: center; align-items: center">person</mat-icon>
          </button>
          <div>
            <a matTooltip="Alternate Site" href="https://bitbucket.org/leonjohan3/profile/wiki/Home"><!-- TODO externalize this link and logo image -->
              <img alt="angular-logo.png" src="assets/img/angular-logo.png" width="50" height="50" style="vertical-align: middle">
            </a>
          </div>
        </div>

      </div>
    </mat-toolbar>

    <!-- content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <mat-toolbar color="primary" class="bottom-toolbar">
      <span>&copy; {{ currentYear }}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
