button.mat-menu-trigger:hover {
  background-color: #3F51B5;
}

.top-toolbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 0 4px !important;
}

.top-toolbar-right {
  position: fixed;
  right: 4px;
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  height: 32px !important;
  font-weight: lighter;
  font-size: smaller;
}

.content {
  overflow: auto;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  top: 64px;
}
