<mat-progress-bar *ngIf="showProgressBar; else elseBlock" mode="indeterminate"></mat-progress-bar>
<ng-template #elseBlock>
  <div class="progress-bar-placeholder"></div>
</ng-template>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type phrase to filter on">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="matSortChange($event)">

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        <button (click)="addContact()" mat-mini-fab aria-label="Button to add contact" color="primary" matTooltip="Add Contact">
          <mat-icon>plus_one</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let row">
        <button (click)="deleteContact(row.id)" mat-mini-fab aria-label="Button with a trash can" matTooltip="Delete Contact" color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
      <td mat-cell *matCellDef="let contact"> {{contact.firstName}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
      <td mat-cell *matCellDef="let contact"> {{contact.lastName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>

    <!-- PhoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
      <td mat-cell *matCellDef="let contact"> {{contact.phoneNumber}} </td>
    </ng-container>

    <!-- BirthDate Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</th>
      <td mat-cell *matCellDef="let contact"> {{contact.birthDate | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editContact(row.id)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="setPaginatorIndex($event)"></mat-paginator>

</div>
