<div fxLayout="column" fxLayoutAlign="space-evenly center">

  <img *ngIf="pictureSrc" src="{{ pictureSrc }}" alt="User Picture" width="100" height="100" style="padding-bottom: 1em; padding-top: 1em">
  <table *ngIf="tableData.length > 0" mat-table [dataSource]="tableData">
    <ng-container matColumnDef="attribute">
      <td mat-cell *matCellDef="let element"> {{element.attribute}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
