<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar mat-elevation-z4" [style.paddingLeft.px]="mobileQuery.matches ? 2 : 16"
               [style.paddingRight.px]="mobileQuery.matches ? 2 : 16">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">

      <!-- drawer menu and application name -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button aria-label="Toggle sidenav" (click)="exportedAsSidenav.toggle()"
                [matTooltip]="(exportedAsSidenav.opened ? 'Close' : 'Open') + ' Drawer'" matTooltipClass="mat-body">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="toolbar-font-weight">
          <a routerLink="/" matTooltip="Home" style="text-decoration: none; color: inherit" matTooltipClass="mat-body">Application</a>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">

        <div *ngIf="userName else elseBlock">
          <button mat-button [matMenuTriggerFor]="exportedAsMenu" matTooltip="User Options" matTooltipClass="mat-body"
                  class="toolbar-font-weight pr-0" style="font-size: medium">{{ userName }}
            <mat-icon matListIcon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #exportedAsMenu="matMenu">
            <button mat-menu-item routerLink="/settings">Settings</button>
            <button mat-menu-item (click)="logoff()">Logout</button>
          </mat-menu>
        </div>

        <ng-template #elseBlock>
          <button mat-icon-button aria-label="Login" (click)="login()" matTooltip="Login" matTooltipClass="mat-body">
            <mat-icon aria-label="Login icon" class="login-icon">person</mat-icon>
          </button>
        </ng-template>

        <a matTooltip="Alternate Site" matTooltipClass="mat-body" target="_blank"
           href="https://bitbucket.org/leonjohan3/profile/wiki/Home"><!-- TODO externalize this link and logo image -->
          <img alt="angular-logo.png" src="assets/img/angular-logo.png" width="50" height="50" style="vertical-align: middle">
        </a>
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #exportedAsSidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
