/* You can add global styles to this file, and also import other style files */

/* below 2 lines added by Angular Material */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip {
  font-size: smaller;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.pr-0 {
  padding-right: 0 !important;
}
