<mat-progress-bar *ngIf="showProgressBar; else elseBlock" mode="indeterminate"></mat-progress-bar>
<ng-template #elseBlock>
  <div class="progress-bar-placeholder"></div>
</ng-template>

<div *ngIf="contactForm" fxLayout="column" fxLayoutAlign="center center">

  <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{title}} Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name" formControlName="firstName" required autofocus>
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('minlengthTrimmed')">
              First name must be at least <strong>2 characters</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('maxlengthTrimmed')">
              First name is <strong>too long</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name" formControlName="lastName" required>
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('minlengthTrimmed')">
              Last name must be at least <strong>2 characters</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('maxlengthTrimmed')">
              Last name is <strong>too long</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].hasError('minlengthTrimmed') && !contactForm.controls['email'].hasError('email')">
              Email must be at least <strong>5 characters</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].hasError('maxlengthTrimmed')">
              Email is <strong>too long</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].hasError('email')">
              Email is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('minlengthTrimmed') && !contactForm.controls['phoneNumber'].hasError('pattern')">
              Phone Number must be at least <strong>5 characters</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('maxlengthTrimmed')">
              Phone Number is <strong>too long</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('pattern')">
              Phone Number is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate" [max]="maxBirthDate" [min]="minBirthDate">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker startView="year" [startAt]="startBirthDate"></mat-datepicker>
            <mat-error *ngIf="contactForm.controls['birthDate'].hasError('required')">
              Birth date is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['birthDate'].hasError('matDatepickerMin')">
              Birth date must not be <strong>more then 200 years in the past</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['birthDate'].hasError('matDatepickerMax')">
              Birth date must not be <strong>in the future</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">{{action}}</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>

